th  {
    border: 1px solid black;
    width: 35px;
    height: 35px;
  }

  .tabla
  {
      margin-top: 70px;   
      
  }
  .tabla2{
    margin-top: 70px; 
    margin-left: 340px;
  }
 

  h1{
      text-align: center;
  }

td
{
    border: none;
}



table{
    width: 500px;

}
.oNoMetales{
    background: rgb(61, 167, 131);
}
.Alcalinos{
    background: rgb(125, 77, 131);
}
.alcalinoterreos{
    background: rgb(61, 49, 66);
}

.MetalesTransicion{
    background: rgb(218, 149, 104);
}

.actinidos{
    background: rgba(223, 18, 178, 0.582);

}
.Lantanidos{
    background: rgb(226, 103, 54);
}
.Metaloides{
    background: rgba(218, 197, 75, 0.486);
}
.Ometales{
    background: rgb(216, 195, 77);
}

.GasesNobles{
    background: rgb(67, 122, 167);
}
.Halogenos{
    background: rgb(87, 77, 230);
}
.tabla3{
    margin-top: 70px;
   
}
.vacio{
    background: grey;
}

.metales{
    
    width: 500px;
    background: grey;
    border: 2px solid black;
   
   
}

